<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename= 'css/bootstrap.css') }}" rel="stylesheet">
</head>
<body>
<header></header>
<main>
    <form class="form-inline" id="form" method="POST">
        <div class="container">
            <h1 class="mt-0">
                <span class="col-sm-auto">
                    <label for="input-num" class="col-sm-auto">Your number:</label>
                </span>
            </h1>
            <div class="input-group mb-3">
                <input type="number" id="input-num" name="input-num" class="form-control" required min="{{min}}"
                       max="{{max}}" {{disabled}}>
                <button class="btn btn-outline-secondary" id="guess-btn" {{disabled}}>Guess</button>
                <a href="{{ url_for('index') }}" class="btn btn-secondary" id="new-game-btn">New game</a>
            </div>
            <div class="lead">Attempts: {{attempts}}</div>
            <p class="lead">{{game_info}}</p>
        </div>
    </form>
    <hr>
</main>

<footer class="container">
    <div>
        The thinker thinks of a number from {{min}} to {{max}} inclusive.
        The guesser has {{total_attempts}} guesses to guess the number. If they take more than {{total_attempts}}
        guesses to guess the number, they lose.
        <div>
            Every time the guesser guesses, the thinker must give one of three responses:
        </div>
        <div class="ms-3">your guess is too big,</div>
        <div class="ms-3">your guess is too small,</div>
        <div class="ms-3">or your guess is the correct number.</div>
        If the number is correct, the guesser wins.
    </div>

    <div class="mt-5">
        <span>{{out_num}}</span>
    </div>
</footer>
</body>
<script type="text/javascript" src="{{ url_for('static', filename= 'js/game.js') }}" defer></script>
</html>